<div class="danhsach px-5 mx-3 pb-3">
	<div class="text-title"><h2>Du lịch bốn phương</h2></div>
	<p>Tổng hợp các chương trình Du Lịch Nước Ngoài 2018 đang được mở bán thường xuyên tại Công ty Du Lịch Việt với nhiều điểm đến mới hấp dẫn du khách trong và ngoài nước. Quý khách có thể xem nhanh lịch khởi hành: Du Lịch Nước Ngoài từ Hà Nội; Du Lịch Nước Ngoài từ Tp. Hồ Chí Minh. Đặc biệt, Tour Du Lịch Nước Ngoài 2018 với nhiều đợt khuyến mãi đang chờ quý khách hàng: Du lịch Thái Lan, Du Lich Han Quoc, Du Lich Nhat Ban, Du Lich Trung Quoc, Du lich Campuchia, Du Lich Lao…</p>
	<p>Chương trình Du Lịch Trong Nước 2018 do S Việt Nam cung cấp với nhiều điểm du lịch mới: Du Lịch Trong Nước khởi hành từ Hà Nội; Du Lịch Trong Nước khởi hành từ Tp. Hồ Chí Minh. Dưới dây là các Tour Du Lịch Trong Nước giá tốt nhất 2018 mở bán hàng tháng với nhiều chương trình khuyến mãi: du lich Nha Trang, du lich Ha Long, du lich Sapa, du lich Con Dao, du lich Phu Quoc, du lich Da Lat, du lich Hue, du lich Da Nang, du lich Mien Tay…</p>

	<div class="row">
		<div class="col-3 border border-danger">
			<p class="m-3 p-3" style="color:blue; font-size:120%;">BẠN MUỐN ĐI TỪ ĐÂU</p>
			<ul class="mda-local-start" style="list-style-type:none;">
                                <li style="position: relative;" for="mda-local-1">
                                    <label for="mda-local-1">
                                        <input checked="" type="checkbox" value="1#5" id="mda-local-1" name="mda-local-1">
                                        Hồ Chí Minh
                                    </label>
                                </li>
                                <li style="position: relative;" for="mda-local-2">
                                    <label for="mda-local-2">
                                        <input type="checkbox" value="2#5" id="mda-local-2" name="mda-local-2">
                                        Hà Nội
                                    </label>
                                </li>
                                <li style="position: relative;">
                                    <label for="mda-local-3">
                                        <input type="checkbox" value="3#5" id="mda-local-3" name="mda-local-3">
                                        An Giang
                                    </label>
                                </li>
                                <li style="position: relative;">
                                    <label for="mda-local-4">
                                        <input type="checkbox" value="4#5" id="mda-local-4" name="mda-local-4">
                                        Bà Rịa - Vũng Tàu
                                    </label>
                                </li>
                                <li style="position: relative;">
                                    <label for="mda-local-5">
                                        <input type="checkbox" value="5#5" id="mda-local-5" name="mda-local-5">
                                        Bắc Cạn
                                    </label>
                                </li>
                                <li style="position: relative;">
                                    <label for="mda-local-6">
                                        <input type="checkbox" value="6#5" id="mda-local-6" name="mda-local-6">
                                        Bắc Giang
                                    </label>
                                </li>
                                <li style="position: relative;">
                                    <label for="mda-local-7">
                                        <input type="checkbox" value="7#5" id="mda-local-7" name="mda-local-7">
                                        Bạc Liêu
                                    </label>
                                </li>
                                <li style="position: relative;">
                                    <label for="mda-local-8">
                                        <input type="checkbox" value="8#5" id="mda-local-8" name="mda-local-8">
                                        Bắc Ninh
                                    </label>
                                </li>
                                <li style="position: relative;">
                                    <label for="mda-local-9">
                                        <input type="checkbox" value="9#5" id="mda-local-9" name="mda-local-9">
                                        Bến Tre
                                    </label>
                                </li>
                                <li style="position: relative;">
                                    <label for="mda-local-10">
                                        <input type="checkbox" value="10#5" id="mda-local-10" name="mda-local-10">
                                        Bình Định
                                    </label>
                                </li>
                                <li style="position: relative;">
                                    <label for="mda-local-11">
                                        <input type="checkbox" value="11#5" id="mda-local-11" name="mda-local-11">
                                        Bình Dương
                                    </label>
                                </li>
                                <li style="position: relative;">
                                    <label for="mda-local-12">
                                        <input type="checkbox" value="12#5" id="mda-local-12" name="mda-local-12">
                                        Bình Phước
                                    </label>
                                </li>
                                <li style="position: relative;">
                                    <label for="mda-local-13">
                                        <input type="checkbox" value="13#5" id="mda-local-13" name="mda-local-13">
                                        Bình Thuận
                                    </label>
                                </li>
                                <li style="position: relative;">
                                    <label for="mda-local-14">
                                        <input type="checkbox" value="14#5" id="mda-local-14" name="mda-local-14">
                                        Cà Mau
                                    </label>
                                </li>
                                <li style="position: relative;">
                                    <label for="mda-local-15">
                                        <input type="checkbox" value="15#5" id="mda-local-15" name="mda-local-15">
                                        Cần Thơ
                                    </label>
                                </li>
                                <li style="position: relative;">
                                    <label for="mda-local-16">
                                        <input type="checkbox" value="16#5" id="mda-local-16" name="mda-local-16">
                                        Cao Bằng
                                    </label>
                                </li>
                                <li style="position: relative;">
                                    <label for="mda-local-17">
                                        <input type="checkbox" value="17#5" id="mda-local-17" name="mda-local-17">
                                        Đà Nẵng
                                    </label>
                                </li>
                                <li style="position: relative;">
                                    <label for="mda-local-18">
                                        <input type="checkbox" value="18#5" id="mda-local-18" name="mda-local-18">
                                        Đắk Lắk
                                    </label>
                                </li>
                                <li style="position: relative;">
                                    <label for="mda-local-19">
                                        <input type="checkbox" value="19#5" id="mda-local-19" name="mda-local-19">
                                        Đắk Nông
                                    </label>
                                </li>
                                <li style="position: relative;">
                                    <label for="mda-local-20">
                                        <input type="checkbox" value="20#5" id="mda-local-20" name="mda-local-20">
                                        Điện Biên
                                    </label>
                                </li>
                                <li style="position: relative;">
                                    <label for="mda-local-21">
                                        <input type="checkbox" value="21#5" id="mda-local-21" name="mda-local-21">
                                        Đồng  Nai
                                    </label>
                                </li>
                                <li style="position: relative;">
                                    <label for="mda-local-22">
                                        <input type="checkbox" value="22#5" id="mda-local-22" name="mda-local-22">
                                        Đồng Tháp
                                    </label>
                                </li>
                                <li style="position: relative;">
                                    <label for="mda-local-23">
                                        <input type="checkbox" value="23#5" id="mda-local-23" name="mda-local-23">
                                        Gia Lai
                                    </label>
                                </li>
                                <li style="position: relative;">
                                    <label for="mda-local-24">
                                        <input type="checkbox" value="24#5" id="mda-local-24" name="mda-local-24">
                                        Hà Giang
                                    </label>
                                </li>
                                <li style="position: relative;">
                                    <label for="mda-local-25">
                                        <input type="checkbox" value="25#5" id="mda-local-25" name="mda-local-25">
                                        Hà Nam
                                    </label>
                                </li>
                                <li style="position: relative;">
                                    <label for="mda-local-26">
                                        <input type="checkbox" value="26#5" id="mda-local-26" name="mda-local-26">
                                        Hà Tĩnh
                                    </label>
                                </li>
                                <li style="position: relative;">
                                    <label for="mda-local-27">
                                        <input type="checkbox" value="27#5" id="mda-local-27" name="mda-local-27">
                                        Hải Dương
                                    </label>
                                </li>
                                <li style="position: relative;">
                                    <label for="mda-local-28">
                                        <input type="checkbox" value="28#5" id="mda-local-28" name="mda-local-28">
                                        Hải Phòng
                                    </label>
                                </li>
                                <li style="position: relative;">
                                    <label for="mda-local-29">
                                        <input type="checkbox" value="29#5" id="mda-local-29" name="mda-local-29">
                                        Hậu Giang
                                    </label>
                                </li>
                                <li style="position: relative;">
                                    <label for="mda-local-30">
                                        <input type="checkbox" value="30#5" id="mda-local-30" name="mda-local-30">
                                        Hoà Bình
                                    </label>
                                </li>
                                <li style="position: relative;">
                                    <label for="mda-local-31">
                                        <input type="checkbox" value="31#5" id="mda-local-31" name="mda-local-31">
                                        Hưng Yên
                                    </label>
                                </li>
                                <li style="position: relative;">
                                    <label for="mda-local-32">
                                        <input type="checkbox" value="32#5" id="mda-local-32" name="mda-local-32">
                                        Khánh Hoà
                                    </label>
                                </li>
                                <li style="position: relative;">
                                    <label for="mda-local-33">
                                        <input type="checkbox" value="33#5" id="mda-local-33" name="mda-local-33">
                                        Kiên Giang
                                    </label>
                                </li>
                                <li style="position: relative;">
                                    <label for="mda-local-34">
                                        <input type="checkbox" value="34#5" id="mda-local-34" name="mda-local-34">
                                        Kon Tum
                                    </label>
                                </li>
                                <li style="position: relative;">
                                    <label for="mda-local-35">
                                        <input type="checkbox" value="35#5" id="mda-local-35" name="mda-local-35">
                                        Lai Châu
                                    </label>
                                </li>
                                <li style="position: relative;">
                                    <label for="mda-local-36">
                                        <input type="checkbox" value="36#5" id="mda-local-36" name="mda-local-36">
                                        Lâm Đồng
                                    </label>
                                </li>
                                <li style="position: relative;">
                                    <label for="mda-local-37">
                                        <input type="checkbox" value="37#5" id="mda-local-37" name="mda-local-37">
                                        Lạng Sơn
                                    </label>
                                </li>
                                <li style="position: relative;">
                                    <label for="mda-local-38">
                                        <input type="checkbox" value="38#5" id="mda-local-38" name="mda-local-38">
                                        Lào Cai
                                    </label>
                                </li>
                                <li style="position: relative;">
                                    <label for="mda-local-39">
                                        <input type="checkbox" value="39#5" id="mda-local-39" name="mda-local-39">
                                        Long An
                                    </label>
                                </li>
                                <li style="position: relative;">
                                    <label for="mda-local-40">
                                        <input type="checkbox" value="40#5" id="mda-local-40" name="mda-local-40">
                                        Nam Định
                                    </label>
                                </li>
                                <li style="position: relative;">
                                    <label for="mda-local-41">
                                        <input type="checkbox" value="41#5" id="mda-local-41" name="mda-local-41">
                                        Nghệ An
                                    </label>
                                </li>
                                <li style="position: relative;">
                                    <label for="mda-local-42">
                                        <input type="checkbox" value="42#5" id="mda-local-42" name="mda-local-42">
                                        Ninh Bình
                                    </label>
                                </li>
                                <li style="position: relative;">
                                    <label for="mda-local-43">
                                        <input type="checkbox" value="43#5" id="mda-local-43" name="mda-local-43">
                                        Ninh Thuận
                                    </label>
                                </li>
                                <li style="position: relative;">
                                    <label for="mda-local-44">
                                        <input type="checkbox" value="44#5" id="mda-local-44" name="mda-local-44">
                                        Phú thọ
                                    </label>
                                </li>
                                <li style="position: relative;">
                                    <label for="mda-local-45">
                                        <input type="checkbox" value="45#5" id="mda-local-45" name="mda-local-45">
                                        Phú Yên
                                    </label>
                                </li>
                                <li style="position: relative;">
                                    <label for="mda-local-46">
                                        <input type="checkbox" value="46#5" id="mda-local-46" name="mda-local-46">
                                        Quảng Bình
                                    </label>
                                </li>
                                <li style="position: relative;">
                                    <label for="mda-local-47">
                                        <input type="checkbox" value="47#5" id="mda-local-47" name="mda-local-47">
                                        Quảng Nam
                                    </label>
                                </li>
                                <li style="position: relative;">
                                    <label for="mda-local-48">
                                        <input type="checkbox" value="48#5" id="mda-local-48" name="mda-local-48">
                                        Quảng  Ngãi
                                    </label>
                                </li>
                                <li style="position: relative;">
                                    <label for="mda-local-49">
                                        <input type="checkbox" value="49#5" id="mda-local-49" name="mda-local-49">
                                        Quảng  Ninh
                                    </label>
                                </li>
                                <li style="position: relative;">
                                    <label for="mda-local-50">
                                        <input type="checkbox" value="50#5" id="mda-local-50" name="mda-local-50">
                                        Quảng Trị
                                    </label>
                                </li>
                                <li style="position: relative;">
                                    <label for="mda-local-51">
                                        <input type="checkbox" value="51#5" id="mda-local-51" name="mda-local-51">
                                        Sóc Trăng
                                    </label>
                                </li>
                                <li style="position: relative;">
                                    <label for="mda-local-52">
                                        <input type="checkbox" value="52#5" id="mda-local-52" name="mda-local-52">
                                        Sơn La
                                    </label>
                                </li>
                                <li style="position: relative;">
                                    <label for="mda-local-53">
                                        <input type="checkbox" value="53#5" id="mda-local-53" name="mda-local-53">
                                        Tây Ninh
                                    </label>
                                </li>
                                <li style="position: relative;">
                                    <label for="mda-local-54">
                                        <input type="checkbox" value="54#5" id="mda-local-54" name="mda-local-54">
                                        Thái Bình
                                    </label>
                                </li>
                                <li style="position: relative;">
                                    <label for="mda-local-55">
                                        <input type="checkbox" value="55#5" id="mda-local-55" name="mda-local-55">
                                        Thái Nguyên
                                    </label>
                                </li>
                                <li style="position: relative;">
                                    <label for="mda-local-56">
                                        <input type="checkbox" value="56#5" id="mda-local-56" name="mda-local-56">
                                        Thanh Hoá
                                    </label>
                                </li>
                                <li style="position: relative;">
                                    <label for="mda-local-57">
                                        <input type="checkbox" value="57#5" id="mda-local-57" name="mda-local-57">
                                        Thừa Thiên - Huế
                                    </label>
                                </li>
                                <li style="position: relative;">
                                    <label for="mda-local-58">
                                        <input type="checkbox" value="58#5" id="mda-local-58" name="mda-local-58">
                                        Tiền Giang
                                    </label>
                                </li>
                                <li style="position: relative;">
                                    <label for="mda-local-59">
                                        <input type="checkbox" value="59#5" id="mda-local-59" name="mda-local-59">
                                        Trà Vinh
                                    </label>
                                </li>
                                <li style="position: relative;">
                                    <label for="mda-local-60">
                                        <input type="checkbox" value="60#5" id="mda-local-60" name="mda-local-60">
                                        Tuyên Quang
                                    </label>
                                </li>
                                <li style="position: relative;">
                                    <label for="mda-local-61">
                                        <input type="checkbox" value="61#5" id="mda-local-61" name="mda-local-61">
                                        Vĩnh Long
                                    </label>
                                </li>
                                <li style="position: relative;">
                                    <label for="mda-local-25528">
                                        <input type="checkbox" value="25528#5" id="mda-local-25528" name="mda-local-25528">
                                        Quảng Ngãi
                                    </label>
                                </li>
                        </ul>
		</div>
		<div class="col-9">
	        <% if(typeof detail !== "undefined") {%>
	        <% detail.forEach(function(body) {%>
	        <div class="row mx-2 my-3 detail-search border border-info">
                <div class="col-7 py-2 pl-0">
                    <a href="http://localhost:3002/<%=body.tentour %>"> <img src="<%=body.hinhanh1 %>" class="col-12" alt="Product Image" title="<%= body.tentour %>" /> </a>
                </div>
                <div class="col-5 m-0 pt-3 px-0">
                    <a href="http://localhost:3002/<%=body.tentour %>"><div><h5><%= body.tentour %></h5></div> </a>
                    <div class="row">
                    	<div class="col-12">Hành trình: <%= body.hanhtrinh%></div>
                        <div class="col-sm-7">
		                	<span>Khởi hành: <a href="#"><%= body.noixp%></a></span>
		                    <p>Thời gian: <%= body.ngay%></p>
		                    <p>Ngày khởi hành: Hàng ngày </p>
		                </div>
		                <div class="col-sm-5">
		                	<p><span class="mda-r-lb">Giá từ:</span>
		                    <span class="mda-r-price"><span class="mda-money"><%= body.dongia%></span>đ</span></p>                               
		                    <p class="mda-r-book"><a class="btn btn-danger" href="http://localhost:3002/<%= body.tentour %>" role="button">Xem chi tiết</a></p>
		                </div>
                    </div>
                </div>
	        </div>

	        <% });
	        }    
	         %>

		</div>
	</div>
</div><!-- div ds-tn-->

